assignments/assignments.aux
assignments/assignments.fdb_latexmk
assignments/assignments.fls
assignments/assignments.log
assignments/assignments.out
assignments/assignments.synctex.gz
assignments/assignments.pdf
assignments/aufgaben.pdf
overview/
papers/
schedule/schedule.aux
schedule/schedule.fdb_latexmk
schedule/schedule.fls
schedule/schedule.log
schedule/schedule.out
schedule/schedule.pdf
schedule/schedule.synctex.gz
schedule/schedule.pdf
schedule/semestereinteilung.pdf
schedule/table.tex
slides
