elektra.pdf
elektra.synctex.gz
thesis.synctex.gz

master-preamble.isy
questions

*.aux
*.log
*.backup
*.bak

abstract.aux
acknowledgement.aux
declaration.aux
elektra.loe
elektra.thm
elektra.aux
elektra.bbl
elektra.blg
elektra.fdb_latexmk
elektra.idx
elektra.ilg
elektra.ind
elektra.lof
elektra.log
elektra.lol
elektra.lot
elektra.out
elektra.synctex.gz
elektra.toc
elektra.fls
elektra.acn
elektra.glo
elektra.ist
elektra.loa
elektra.tdo
introduction.aux
memoirsetup.aux
presetup.aux
related.aux
setup.aux
titlepage.aux
titlesetup.aux
zusammenfassung.aux
